{% include "template_head.html" %}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
	            <h2 class="header"><b>发布管理</b></h2>
	            <ul class="list-unstyled spaced">
					<div class="tabbable">
						<ul class="nav nav-tabs" id="myTab">
							<li class="active">
								<a data-toggle="tab" href="#home">
									<i class="green ace-icon fa fa-home bigger-120"></i>
									我的发布
								</a>
							</li>

							<li>
								<a data-toggle="tab" href="#messages">
									<i class="red ace-icon glyphicon glyphicon-list bigger-120"></i>
									列表信息
									<span class="badge badge-danger">4</span>
								</a>
							</li>

							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="orange ace-icon fa fa-location-arrow bigger-120"></i>
									转发规则 &nbsp;
									<i class="ace-icon fa fa-caret-down bigger-110 width-auto"></i>
								</a>

								<ul class="dropdown-menu dropdown-info">
									<li>
										<a data-toggle="tab" href="#dropdown1">@fat</a>
									</li>

									<li>
										<a data-toggle="tab" href="#dropdown2">@mdo</a>
									</li>
								</ul>
							</li>
						</ul>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
								<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
							</div>

							<div id="messages" class="tab-pane fade">
								<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
							</div>

							<div id="dropdown1" class="tab-pane fade">
								<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
							</div>

							<div id="dropdown2" class="tab-pane fade">
								<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
							</div>
						</div>
					</div>
				</ul>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-lg-offset-1">

        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>

    </div>
</div>
{% include "template_footer.html" %}

<!-- 	</body>
</html> -->